* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#title {
    background-color: #f2ebdd;
}



.container-fluid {
    padding: 5% 10%;
}


.container-fluid2 {
    padding: 2% 10% 5% 10%;

}


.hiring {
    color: white;
    background-color: #F7CE68;
    background-image: linear-gradient(82deg, #F7CE68 0%, #FBAB7E 46%, #d93158 74%);
    font-size: 55%;
    border-radius: 20px;
    border: 0px;
    text-align: center;
    padding: 6px 12px;
}


.nav-btn {
    color: white;
    height: 55px;
    width: 140px;
    font-size: 1.2rem;
}


/* section */

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 3.8rem;
    line-height: 1;
}



#host {
    padding-top: 6%;
}

#hero {
    width: 75%;
    float: right;
    margin: 0 0 0 15px;
    /* margin: 0 12.5% 0 0px; */
}

/* @media screen and (max-width: 768px) {

    #hero {
        float: right;
        margin: 0 0 20 12.5%;
    }

} */



input[type=email] {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
    border: 0px;
    height: 55px;

}

/* 
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
} */

input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    height: 55px;
    width: 140px;
}

.col-75 {
    float: left;
    width: 55%;
    margin-right: 2%;
}

/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;

}

/* Responsive layout - when the screen is less than 768px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {

    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 2%;
    }
}

#checkmark {
    padding-top: 4px;
    padding-right: 15px;
    padding-bottom: 1%;
}


.p2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
}


.link {
    text-decoration: none;
    margin-inline-end: 15px;
}

.linke {
    padding-top: 13px;

}

.help {
    width: 50%;
    display: inline-block;

}



@media screen and (max-width: 768px) {
    .help {
        width: 60%;
        margin-top: 8%;

    }
}


.col {
    display: inline-block;
}


.col.mid {
    vertical-align: middle;
}


.help-list {
    display: inline-block;
    vertical-align: middle;
}


.help-list ul {
    padding: 0 0 0 13px;
    margin: 0;
    list-style: none;
}

#question {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 1.1rem;

}

.para {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    color: #66676b;
}


.para2 {
    margin-top: 3%;
}